[tool.poetry]
name = "censusdis"
version = "0.2.0"
description = "US Census utilities for a variety of data loading and mapping purposes."
license = "HL3-CL-ECO-EXTR-FFD-LAW-MIL-SV"
authors = ["vengroff <vengroff@gmail.com>"]
readme = "README.md"
repository = "https://github.com/vengroff/censusdis"
keywords = ["census", "demographics"]
classifiers = [
    "Programming Language :: Python :: 3.9",
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Science/Research"
]

[tool.poetry.dependencies]
python = "^3.9"
divintseg = "^0.1.3"
CensusData = "^1.15.post1"
geopandas = "^0.11.1"
Rtree = "^1.0.0"
matplotlib = "^3.5.3"
Sphinx = { version = "^5.1.1", optional = true }
sphinx-rtd-theme = { version = "1.0.0", optional = true }
sphinxcontrib-napoleon = { version = "0.7", optional = true }
requests = "^2.28.1"

[tool.poetry.extras]
docs = ["Sphinx", "sphinx-rtd-theme", "sphinxcontrib-napoleon"]

[tool.poetry.group.test.dependencies]
pytest = "^7.1.3"
coverage = "^6.4.4"
pytest-cov = "^3.0.0"

[tool.poetry.group.lint.dependencies]
flake8 = "^5.0.4"
black = "^22.8.0"
isort = "^5.10.1"

[tool.poetry.group.dist.dependencies]
genbadge = {extras = ["all"], version = "^1.1.0"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
